extends layout

block content
  h1 Simple starter kit
  p This starter kit uses Express as server framework, gulp as taskrunner and has some bower set up.
  p In gulp nodemon and other watchers work in parallel, to divide front-end tasks and back-end server changes
  p simple timer #[span#timer]
  script(src='/vendor/jquery/dist/jquery.js')
  script(src='/js/script.js')